.HomeContact{
    min-height: 20vh;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding-block: 0px 35px;
    div{
        display: none;
    }
    a{
        margin-top: 30px;
        padding: 10px;
        font-weight: 500;
        width: 80%;
        font-size: 1.1rem;
        max-width: 150px;
        &:hover{
            box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.05);
        }
    }
    @media (min-width: 700px){
        flex-direction: row;
        justify-content: space-between;
        height: 300px;
        div{
            display: block;
            width: 30%;
            height: 1px;
            background: gray;
            padding: 0px;
        }
        h3{
            max-width: 300px;
        }
        a{
            margin: 0px;
        }
    }
}